.m-4 {
  margin: 1rem
}

.border-b {
  border-bottom-width: 1px
}

.border-green-600 {
  --tw-border-opacity: 1;
  border-color: rgb(22 163 74 / var(--tw-border-opacity))
}

.p-4 {
  padding: 1rem
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}
